{%extends 'base.html'%}
{%block content%}


<div class="container">
    <main>
        <img src="{{post.image.url}}">
        <h1>{{post.title}}</h1>
        <p class="fs-5 col-md-8">{{post.body}}</p>
        <hr class="col-3 col-md-2 mb-5">
    
        <div class="row g-5">
          <div class="col-md-6">
            <h2>About Auother</h2>
            <p> this is the author</p>
            <ul class="icon-list">
              <li><a href="https://github.com/twbs/bootstrap-npm-starter" rel="noopener" target="_blank">Bootstrap npm starter</a></li>
              <li class="text-muted">Bootstrap Parcel starter (coming soon!)</li>
            </ul>
          </div>
    
      </main>


</div>
  
  































{%endblock%}